
# -------------------------------------
# Download files
# -------------------------------------
New-Item -ItemType Directory -Force -Path "${install_dir}"
Invoke-WebRequest -UseBasicParsing -Uri "${traefik_download_url}" -OutFile "${install_dir}/Traefik.zip"

# -------------------------------------
# Extract *.zip files
# -------------------------------------
Expand-Archive -path "${install_dir}/Traefik.zip" -destinationpath "${install_dir}"

& "${install_dir}/Traefik/TraefikService.exe" -i
& "${install_dir}/Traefik/TraefikService.exe" -r



